<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Doodawanie drogi wspinaczowi</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link th:href="@{/navigate.css}" rel="stylesheet"/>
</head>
<body class="fullscreen_bg_hello">

<div th:replace="fragments/header :: 'header'"></div>

<h1>Lista wspinaczy i dróg wspinaczkowych</h1>

<form action="/ways/add"  method="post">
    <!--<input type="hidden" th:field="*{climber_id}" />-->
    <select name="climber.climber_id">
        <option th:each="climber : ${climbers}"
                th:value="${climber.climber_id}"
                th:text="${climber.name}">Lista wspinaczy
        </option>
    </select>

    <select name="climbingRoute.climbing_id">
        <option th:each="climber : ${climbingRoutes}"
                th:value="${climber.climbing_id}"
                th:text="${climber.wayName}">Lista wspinaczy
        </option>
    </select>

    <p><input type="submit" value="Dodaj"/>
</form>

</body>
</html>