<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/navigate.css}" rel="stylesheet"/>
</head>
<body class="fullscreen_bg_hello">

<div th:replace="fragments/header :: 'header'"></div>

dupa

<form >
<div class="container" action="/ways/show" method="post">

    <div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered table-hover table-custom">
                <tr class="success">
                    <th>Id</th>
                    <th>Nazwa</th>
                </tr>
                <tr th:each="route : ${routesAll}">
                    <td th:text="${route.climbing_id}"></td>
                    <td th:text="${route.wayName}"></td>
                    <td th:text="${route.level}"></td>
                    <td><a th:href="@{/routes/{climbing_id}(climbing_id=${route.climbing_id})}">Edytuj</a></td>
                </tr>
                </tr>
            </table>
        </div>
    </div>
</div>
</form>
</body>
</html>