<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Climber profil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<div th:replace="fragments/header :: 'header'"></div>

<form th:action="@{/climbers/add}" th:object="${climbers}" method="post">
    <input type="hidden" th:field="*{climber_id}"/>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationServer01">Imię</label>
            <input type="text" class="form-control is-valid" id="validationServer01" name="name" placeholder="Jan"
                   required>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationServer02">Nazwisko</label>
            <input type="text" class="form-control is-valid" id="validationServer02" name="surname"
                   placeholder="Kowalski">
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationServer03">Pseudonim</label>
            <input type="text" class="form-control is-valid" id="validationServer03" name="nickname" placeholder="Kowal"
                   required>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationServer04">Miejscowość</label>
            <input type="text" class="form-control is-invalid" id="validationServer04" name="city"
                   placeholder="Warszawa" required>
        </div>
        <!--       <div class="col-md-3 mb-3">
                   <label for="validationServer04">Wiek</label>
                   <input type="number" class="form-control is-invalid" id="validationServer05" name="age" placeholder="18">
               </div>-->
        <div class="form-group col-md-3 mb-3">
            <label for="inputState">Płeć</label>
            <select id="inputState" class="form-control" name="sex">
                <option selected>Mężczyzna</option>
                <option selected>Kobieta</option>
            </select>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-2">
                <label for="validationServer04">Nr telefonu</label>
                <input type="tel" class="form-control bfh-phone" data-format="+48 ddd-ddd-ddd" name="phoneNumber">
            </div>
            <div class="col-md-6 mb-2">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <label for="comment1">Komentarz</label>
                <textarea class="form-control" id="comment1" rows="3" placeholder="Komentarz" name="comment"></textarea>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Dodaj</button>
            </div>
        </div>
    </div>
    </div>

</form>
</body>
</html>