<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Wszyscy wspinacze</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/hello">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/climbers/add">Dodaj wspinacza</a></li>
                <li><a href="/climbers/all">Lista wspinaczy</a></li>
                <li><a href="/routes/add">Dodaj drogę wspinaczkową</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Lista wspinaczy</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered table-hover table-custom">
                <tr class="success">
                    <th>Id</th>
                    <th>Pseudonim</th>
                    <th>Dodaj przejście ściany</th>
                    <th>Usuń</th>
                </tr>
                <tr th:each="climber : ${climbersAll}">
                    <td th:text="${climber.climber_id}"></td>
                    <td th:text="${climber.nickname}"></td>
                    <td><a th:href="@{/climbers/{climber_id}(climber_id=${climber.climber_id})}">Dodaj</a></td>
                    <td><a th:href="@{/climbers/remove/{climber_id}(climber_id=${climber.climber_id})}">Usuń</a></td>


                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>