<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Wszyscy wspinacze</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<div th:replace="fragments/header :: 'header'"></div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Lista wspinaczy</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered table-hover table-custom">
                <tr class="success">
                    <th>Id</th>
                    <th>Pseudonim</th>
                    <th>Dodaj przejście ściany</th>
                    <th>Usuń</th>
                </tr>
                <tr th:each="climber : ${climbersAll}">
                    <td th:text="${climber.climber_id}"></td>
                    <td th:text="${climber.nickname}"></td>
                    <td><a th:href="@{/climbers/{climber_id}(climber_id=${climber.climber_id})}">Dodaj</a></td>
                    <td><a th:href="@{/climbers/remove/{climber_id}(climber_id=${climber.climber_id})}">Usuń</a></td>


                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>