<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="profil.css">
    <link th:href="@{/navigate.css}" rel="stylesheet"/>
</head>
<body class="fullscreen_bg_hello">

<div th:replace="fragments/header :: 'header'"></div>

<!--https://bootsnipp.com/snippets/featured/user-profile-sidebar-->

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Profil wspinacza</h1>
        </div>
    </div>
</div>

<form action="/climbers/profil" method="post">
    <!--<input type="hidden" name="post" th:value="${post.climber_id}">-->
    <div class="container">
        <tr th:each="climber : ${climbersAll}">
            <div class="row profile">
                <div class="col-md-3">
                    <div class="profile-sidebar">
                        <!-- SIDEBAR USERPIC -->
                        <div class="profile-userpic">
                            <img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg"
                                 class="img-responsive" alt="">
                        </div>
                        <!-- END SIDEBAR USERPIC -->
                        <!-- SIDEBAR USER TITLE -->
                        <div class="profile-usertitle">
                        </div>
                        <h3>z miejscowości</h3>
                        <div class="profile-usertitle-job" th:text="${climber.getCity()}">
                        </div>
                        <h3> o pseudonie</h3>
                        <div class="profile-usertitle-name" th:text="${climber.getNickname()}">

                        </div>
                        <div class="profile-userbuttons">
                            <a th:href="@{/ways/add}">
                                <button type="button" class="btn btn-success btn-sm">Dodaj kolejną zdobytą drogę
                                </button>
                        </div>
                    </div>
                </div>

            </div>
    </div>

</form>
</body>
</html>
