<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Strona główna</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/navigate.css}" rel="stylesheet"/>
</head>
<body class="fullscreen_bg_hello">
<div th:replace="fragments/header :: 'header'"></div>

<div color="white">
    <div class="hello-container">
        <p>Strona w budowie..</p>
        <ol>
           <li>Obecne funkcjonalność aplikacji:</li>
            <li>Dodawanie i usuwanie wspinaczy.</li>
            <li>Lista wspinaczy.</li>
            <li>Dodawanie dróg wspinaczkowych.</li>
            <li>Zapiswanie zawodnikowi dróg wspinaczkowych, które przeszedł.</li>
        </ol>
    </div>
</div>
</body>
</html>
