<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Doodawanie drogi wspinaczowi</title>
</head>
<body>

<h1>Wybierz drogę</h1>
<!--<form  th:action="@{/routes/addWay}" method="post">-->
    <!--<input type="hidden" th:field="*{climbing_id}" />-->
    <select th:field="*{climbingRoutes}">
        <option th:each="category : ${climbingRoutes}"
                th:value="${climbing_id}"
                th:text="${climbingRoutes}">Lista dróg</option>
    </select>

    <p><input type="submit" value="Dodaj" />
</form>

</body>
</html>